
:root{
    --colors1:hsl(76, 100%, 58%);
    --colors2:#955f20;
    --colors3:white;
    --colors4:black;
    --colors5:#E12B19;
    --colors6:#EBE5F5;
    --colors7: #FFE3E0;
    --colors8: #FB8478;
    --colors9: #FA503F;
    --colors10: #E12B19;
    --colors11: #E6FBF4;
    --colora12: #8FE3C6;
    --color13: #03A691;
    --colors14: #007D6D;
    --colors15: #FFF0E1;

}
/*inicio propiededes del contenedor*/
.contenedor{
    width: 60rem;/*Define el ancho del contenedor*/
    height: 80rem;/*Define el largo del contenedor*/
    border: solid black 25px;/*Define el color y grosor del borde*/
    padding-top: 0;/*establece el espacio de relleno requerido en la parte superior del contenedor.*/
    margin:0 auto;/*Define que los margenes de arriba y abajo sean 0 y el auto permite repatir el espacio en partes iguales en los margenes 
                   izquierdo y derech0*/
    background: #c542f8 ;/*define color del fondo*/

    
}
/*Inicio propiedades h1*/
h1{
    color: white;/*Define color de text*/
    font-size: 3rem;/*Define temaño text*/
    font-family: cursive;/*Define la forma del text*/
    text-align: center;/*Centra el texto*/
}
h2{
    color: aliceblue;/*Establece el color del text*/
    font-size: 2.5rem;/*Establece el tamaño del text**/
    text-align: center;/*Centra el text*/
}
h3{
    color: aliceblue;/*Establece el color del text*/
    font-size: 2.5rem;/*Establece el tamaño del text**/
    text-align: center;/*Centra el text*/
}
.titulo{
    background: black;/*define color del fondo*/
    border-radius: 6px;/*Establece el reduciminto de las esquinas del titulo*/
    border: solid #46eaf0 5px; /*Define el color y grosor del borde*/
    height: 10rem;/**/
    margin-top: 2rem;/*Establece el área de margen en la parte superior del titulo*/
    margin-left: 2rem;/*Establece el área de margen en el lado izquierdo del titulo*/
    margin-right: 2rem;/*Establece el área de margen en el lado derecho del titulo*/
    

}
.centro{
    border: solid #46eaf0 5px;/*Define el color y grosor del borde*/
    padding-top: 2rem;/*establece el espacio de relleno requerido en la parte superior del centro.*/
    margin: 0 auto;/*Define que los margenes de arriba y abajo sean 0 y el auto permite repatir el espacio en partes iguales en los margenes 
    izquierdo y derech0*/
    background: black ;/*define color del fondo*/
    margin-left: 2rem;/*Establece el área de margen en el lado izquierdo del centro*/
    margin-right: 2rem;/*Establece el área de margen en el lado derecho del centro*/
   
}
.foto{
    width: 60rem;/*Establece el tamaño de ancho */
    height: 30rem;/*Establece el tamaño de largo */
    border: solid #c6ff28 5px;/*Establece el área de margen en el lado derecho del titulo*/
    border-radius: 2rem;/*Establece el reduciminto de las esquinas de la foto*/
    
}
.imagen {
    width: 0 auto;
    overflow: auto;
    box-shadow: -30px 20px 10px -6px rgba(122,118,122,0.58);
    margin-left: 7rem;/*Establece el área de margen en el lado izquierdo del titulo*/
    
}
  
  .datos{
    text-align: center;/*centara el text*/
    display: inline-block;
    padding: 13px;
    margin: 12px;/*Establece el tamaño de ancho */
    color: white ;
    border: solid #c6ff28;/*Establece el área de margen en el lado derecho del titulo*/
    border-radius: 4px;
    margin-left: 8rem;/*Establece el área de margen en el lado izquierdo del titulo*/
    margin-top: 2rem;/*Establece el área de margen en la parte superior del titulo*/
  }
  .redes{
    background: black;/*define color del fondo*/
    border-radius: 6px;/*Establece el reduciminto de las esquinas del titulo*/
    border: solid #46eaf0 5px;/*Establece el área de margen en el lado derecho del titulo*/
    margin-left: 2rem;/*Establece el área de margen en el lado izquierdo del titulo*/
    margin-right: 2rem;/*Establece el área de margen en el lado derecho del titulo*/
  }
  .social{
    text-align: center;/*centara el text*/
   

  }
  .social p.he:hover{
    background-color: blue;
    
}
.social p.h0:hover{
    background-color: rgb(250, 162, 235);

}
.social p.hi:hover{
    background-color: #A3F584;
 
    
}
.social p.hu:hover{
    background-color: #4EFAF5;
   
    
}
.social p.ha:hover{
    background-color: #E6FBF4;
    
    
}
  .social li{
    display: inline-block;
    margin: top 0;
    margin-bottom: 0%;
  }
  .social a{
    padding: 4rem;
    margin-bottom: 5rem;
  }
